# This .gitignore file should be placed at the root of your Unity project directory

# Default exclusion file
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Ll]ogs/
[Oo]bj/
[Tt]emp/
UserSettings/

# Visual Studio cache directory
.vs/
.vsconfig

# Visual Studio Code cache directory
.vscode/

# Gradle cache directory
.gradle/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
MemoryCaptures/

# Recordings can get excessive in size
Recordings/

# Uncomment this line 